[Desktop Entry]
Version=1.0
Type=Application
Name=Photoshop
Comment=Adobe Photoshop for Linux
Exec=bash pspath/launcher/launcher.sh %F
Icon=photoshop
StartupNotify=true
StartupWMClass=Photoshop.exe
MimeType=image/vnd.adobe.photoshop;image/x-photoshop;application/x-photoshop;image/psd;application/psd;
Categories=Graphics;2DGraphics;RasterGraphics;
Terminal=false
Name[de_DE]=Photoshop
Name[fr_FR]=Photoshop
Name[en_US]=Photoshop



